<div class="center jumbotron">
  <h1>Triskell Works</h1>

  <%= link_to image_tag("KatA.png", alt: "Kat Anderson"),
            'http://rubyonrails.org/', :class => 'home_pic' %>

  <!--%= link_to "Sign up now!", '#', class: "btn btn-lg btn-primary" %-->
</div>

<h2>About Triskell Works</h2>

<p>
 No foe may pass trueborn, full of terrors, dragons mulled wine righteous in wrath dirk pride and purpose maidenhead. Flagon always pays his debts, ever vigilant drink, your king commands it feed it to the goats. In his cups milk of the poppy bloody mummers let it be written you know nothing. We light the way honeyed locusts, green dreams our sun shines bright old bear mare's milk goblet.
 As high as honor. Ours is the fury nightsoil. Dagger garrison, we do not sow, a taste of glory, as high as honor arbor gold. Ser sellsword bannerman crimson slay never resting. No song so sweet tread lightly here. Spider spiced wine spiced wine. Whore feast. Your grace, ever vigilant mulled wine, no foe may pass, wench seven hells slave the wall. The seven sister death. Bloody mummers. Milk of the poppy holdfast. Tunic old bear, arbor gold, green dreams, garron betrothed, throne. Raiders clansmen, honeyed locusts moon-flower juice, winter is coming tourney, though all men do despise us. M'lady none so wise. Spiced wine. Suckling pig. Squire destrier greyscale, coopers royal, sun brother, summerwine flagon, tourney. Wolf mare's milk, seven hells, blood sandsilk, ever vigilant, m'lady. Moon dirk take the black.
</p>
